html,
body {
    background-color: #FFF7F1;
    overflow-x: hidden;
    margin: 0;
}

.main-nav {
    padding: 40px 0 0 0;
    display: flex;
    justify-content: center;
    font-family: HiroMisake;
    font-size: 17px;
    font-weight: normal;
    font-style: normal;
}

.main-nav nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #253054;
    padding: 20px;
    border-radius: 200px;
    gap: 60px;

}

.main-nav nav a {
    text-decoration: none;
    color: #CC2727;
    padding: 30px;
}

.main-nav nav a.active {
    text-decoration: underline;
    color: #CC2727;
    padding: 30px;
}


.logo-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 50%;
    background-color: #253054;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.topPage {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 20px;
    margin: 50px auto;
    padding: 20px;

}

.main-header {
    align-items: flex-start;
    text-align: left;
    width: 100%;
    margin: 0 20px;
    color: #253054;
    max-width: 33%;
    overflow-wrap: break-word;
}


.main-header h1 {
    font-family: HiroMisake;
    font-size: 48px;
    font-style: normal;
    font-weight: normal;


}

.main-header h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: normal;
    font-style: normal;
    font-size: 23px;

}

.icon-header {

    align-items: center;
    justify-content: center;
    margin: 2% auto;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.icon-header .jap1 {
    position: absolute;
    top: -40%;
    right: 50%;
    font-size: 128px;
    font-style: normal;
    font-weight: 500;
    color: #CC2727;
}

.icon-header .jap2 {
    position: absolute;
    top: -8%;
    right: 23.5%;
    font-size: 128px;
    font-style: normal;
    font-weight: 500;
    color: #CC2727;
}

.icon-header h2 {
    font-family: HiroMisake;
    font-size: 24px;
    padding: 10% 0 0 0;
    font-weight: normal;
    font-style: normal;
    color: #CC2727;
}

.icon-header h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 20px;
    font-weight: normal;
    font-style: normal;
    color: #253054;
}



.ramen-icon {
    width: 100%;
    max-width: 438px;
    height: auto;
    max-height: 490px;
    position: absolute;
    right: 0%;
    top: -10%;


}

.ramen-icon img {
    max-width: 412px;
    max-height: 437px;
    right: -6%;
    top: 4%;
}

.icon-header circle {
    fill: #253054;
}

.icon-header line {
    stroke: #253054;
    stroke-width: 7;

}



span {
    color: #CC2727;
}


text {
    text-anchor: middle;
    fill: #CC2727;
    font-size: 14px;
}

/* second page of home */
.menu-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    padding: 20px;
}

.menu-category nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #253054;
    padding: 20px 50px;
    border-radius: 200px;
    gap: 60px;
    color: #CC2727;
    font-family: "HiroMisake";
    font-size: 16px;
    overflow: visible;
    position: relative;
}

.menu-category nav li {
    cursor: pointer;
    z-index: 2;
    transition: transform 0.2s ease-in-out;
}

.menu-category nav li:hover {
    transform: scale(1.2);
}

.menu-category nav li.active {
    cursor: pointer;
}

/* Sliding blue bubble */
.menu-category nav ul .blue-bubble {
    position: absolute;
    width: 92px;
    height: 80px;
    left: 0px;
    background-color: #253054;
    border-radius: 50%;
    transition: left 0.3s ease;
    z-index: 1;
    top: 50%;
    transform: translate(-50%, -50%);

}

/* White circle */
.menu-category nav ul .white-bubble {
    position: absolute;
    width: 70px;
    height: 60px;
    left: 0px;
    background-color: #ffffff;
    border-radius: 50%;
    transition: left 0.3s ease;
    z-index: 1;
    top: 50%;
    transform: translate(-50%, -50%);
}



.menu-carousel-body {
    margin: -90px 0;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FFF7F1;
    height: 100vh;
    justify-content: center;


}

.menu-carousel-container {
    width: 80%;
    max-width: 800px;
    overflow: hidden;
    position: relative;
    padding: 100px 0 50px 0;
}


.menu-carousel {
    display: flex;
    gap: 60px;
    cursor: grab;
    transition: transform 0.5s ease;
    /* smooth movement */
    scroll-behavior: smooth;
    /* smooth scroll when using JS */
    user-select: none;
}

.menu-carousel::-webkit-scrollbar {
    display: none;
    /* hide scrollbar */
}

.menu-item {
    flex: 0 0 auto;
    height: 265px;
    width: 230px;
    background: #253054;
    border-radius: 20px;
    text-align: center;
    color: white;
    position: relative;
    transition: transform 0.5s, opacity 0.5s;
    overflow: visible;

}


.menu-item img.t-ramen {
    position: absolute;
    top: -40px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    object-fit: cover;
    overflow: visible;
}

.menu-item img.pork-bao {
    position: absolute;
    top: -420px;
    left: 46%;
    transform: translateX(-50%);
    z-index: 2;

    overflow: visible;
}

.menu-item img.crab-bao {
    position: absolute;
    top: -250px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    overflow: visible;
}

.menu-item img.temp {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;

    overflow: visible;
}



.menu-item.center {
    transform: scale(1);
    z-index: 2;
    opacity: 1;
}

.menu-item.side {
    transform: scale(0.8) translateY(-20px);
    opacity: 0.6;
    z-index: 1;
}



.menu-item h1 {
    position: absolute;
    bottom: 10px;
    /* stays at card bottom */
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    background-color: #CC2727;
    padding: 2px 40px;
    font-size: 30px;
    margin: 0;
    font-family: "HiroMisake";
    font-weight: normal;
    font-style: normal;
}

.menu-item svg {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 360px;
    height: 45px;
    z-index: -1;
    fill: #253054
}



button.see-more-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 41px;
    font-family: "HiroMisake";
    font-size: 32px;
    color: #FFFFFF;
    background-color: #253054;
    border-radius: 20px;
    margin: 0px auto;
    transition: all 0.3s ease;
}

button.see-more-btn:hover {
    cursor: pointer;
    background-color: #CC2727;
    transform: scale(1.1);
    box-shadow: 0 0 40px rgba(204, 39, 39, 0.6);

}


button.carousel-btn {
    position: absolute;
    background: #25305400;
    border: none;
    color: #cc2727;
    font-size: 1.5rem;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: 0.3s ease;
}

button.carousel-btn:hover {
    background: #253054;
    color: #ffffff;
}

button.prev {
    left: 450px;
}

button.next {
    right: 450px;
}

.r-blurry-circle-1 {
    fill: #CC2727;
    width: 350px;
    height: 350px;
    position: absolute;
    left: -10%;
    top: 150%;
    filter: blur(35px);
}

.r-blurry-circle-2 {
    fill: #CC2727;
    width: 350px;
    height: 350px;
    position: absolute;
    right: -10%;
    top: 110%;
    filter: blur(35px);
}

@font-face {
    font-family: 'HiroMisake';
    src: url(/fonts/HIROMISAKE.ttf);
    font-weight: normal;
    font-style: normal;
}


/* Responsive fix for small screens */
@media (max-width: 1000px) {
    .topPage {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .main-header,
    .icon-header,
    .ramen-icon {
        max-width: 100%;
        position: static;
        transform: none;
    }

    .main-header h1,
    .main-header h2 {
        text-align: center;
    }


}