.main-nav {
    padding: 20px;
    display: flex;
    justify-content: center;
    font-family: HiroMisake;
    font-size: 12pt;
    font-weight: normal;
    font-style: normal;   
}

nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #253054;
    padding: 20px;
    border-radius: 200px;
    gap: 60px;
    
}

nav a {
    text-decoration: none;
    color: #CC2727;
    padding: 30px;
}

nav a.active {
    text-decoration: underline;
    color: #CC2727;
    padding: 30px;
}


.logo-container {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 50%;
    background-color: #253054;
}

.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px; 
    height: 80px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}

.main-header h1 {
    font-family: HiroMisake;
    font-size: 48pt;
    color: #253054;
    font-style: normal;
    font-weight: normal;
}

.logo-container p {
    font-family: HiroMisake;
    font-size: 12pt;
    color: #CC2727; 
}

text {
    text-anchor: middle;
    fill: #CC2727;
}

@font-face {
    font-family: 'HiroMisake';
    src: url(/fonts/HIROMISAKE.ttf);
    font-weight: normal;
    font-style: normal;
    
}